
*, *::before,
 *::after {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    > header {
        z-index: 11111;
        position: absolute;
        transform: translateY(-100%);
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5em;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 0 0 10px 10px;

        animation: slideDown 1s cubic-bezier(.72,.56,.23,1.26) 1s forwards;

        > h1 {
            color: black;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 32px;
        }
    }

    #map {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }
}

body:has(.panelBox.open) .leaflet-top {
    margin-top: 80vh !important;
    opacity: 0;
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}