---
import Navigation from './Navigation.astro';
---

<div id="bottomPanel" class="panelBox">
    <span id="panelHandle"></span>
    <h2>Panel</h2>
    <Navigation />
</div>

<script>
    const panel = document.getElementById("bottomPanel");
    const handle = document.getElementById("panelHandle");

    handle?.addEventListener("click", () => {
        if (!panel) return;

        panel?.classList.toggle("open");
    })


    let isOpen = false;

    const togglePanel = () => {
        isOpen = !isOpen;
    }

    togglePanel();

</script>

<style>
    .panelBox {
        z-index: 11111;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        bottom: 2.5em;
        left: 50%;
        transform: translate(-50%, 150%) scale(0.5);
        width: 95vw;
        height: 20vh;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 18px;

        margin: 0;
        padding: 0;

        animation: slideInBottom 1s cubic-bezier(0.33, 0.72, 0, 1.18) 0.5s forwards;

        transition: height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 1.4s cubic-bezier(0.33, 0.72, 0, 1.18), bottom 1.2s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 2s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), backdrop-filter 1.2s cubic-bezier(0.33, 0.72, 0, 1.18);
    }

    .panelBox.open {
        border-radius: 20px 20px 0 0;
        bottom: 0;
        width: 100vw;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);

    }

    span {
        margin: 0.1em 0em;
        width: 6em;
        height: 0.8em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        position: fixed;
    }
    

    @keyframes slideInBottom {
        0% {
            transform: translate(-50%, 100%) scale(0.5);
            opacity: 0;
        }
        100% {
            transform: translate(-50%, 0) scale(1);
            opacity: 1;
        }
    }
</style>