---
import Navigation from './Navigation.astro';
---

<div id="bottomPanel" class="panelBox">
    <span id="panelHandle"></span>
    <h2>Panel</h2>
    <Navigation />
</div>

<script>
    // @ts-nocheck
    const panel = document.getElementById("bottomPanel");
    const handle = document.getElementById("panelHandle");

    // handle?.addEventListener("click", () => {
    //     if (!panel) return;

    //     panel?.classList.toggle("open");
    // })


    let isOpen = false;

    const togglePanel = () => {
        if (!panel) return;
        isOpen = !isOpen;

        if (isOpen) {
            panel.classList.add("open");
        } else {
            panel.classList.remove("open");
        }

        // isOpen = !isOpen;
    }


    // handle?.addEventListener("click", (e) => {
    //     if (!isDragging) {
    //         togglePanel();
    //     }
    // });


    let isDragging = false;
    let startY = 0;
    let startHeight = 0;

    handle?.addEventListener("pointerdown", (e) => {
        if (!panel) return;

        isDragging = true;
        startY = e.clientY;

        // Calculate the current panel height
        startHeight = panel.getBoundingClientRect().height;

        panel.style.transition = "none";

        // const currentBottom = panel.style.getPropertyValue("--bg-bottom");
        // startLeft = parseFloat(currentBottom) || startActive.offsetBottom;

        // panel.classList.add("dragging");
        // panel.classList.remove("glowBox");

        // Browser keeps following the pointer even if it goes outside the element
        handle.setPointerCapture(e.pointerId);
    });

    window.addEventListener("pointermove", (e) => {
        if (!isDragging || !panel) return;

        const deltaY = startY - e.clientY;
        let newHeight = startHeight + deltaY;
        
        const windowHeight = window.innerHeight;
        // Minimum height is 20% of the window
        const minHeight = windowHeight * 0.2;
        // Maximum height is 80% of the window
        const maxheight = windowHeight * 0.8;

        if (newHeight < minHeight) newHeight = minHeight;
        if (newHeight > maxheight) newHeight = maxheight;

        // const firstLeft = navItems[0].offsetLeft;
        // const lastLeft = navItems[navItems.length - 1].offsetLeft;
        // if (newLeft < firstLeft) newLeft = firstLeft;
        // if (newLeft > lastLeft) newLeft = lastLeft;


        panel.style.height = `${newHeight}px`;
    });

    window.addEventListener("pointerup", (e) => {
        if (!isDragging || !panel) return;
        isDragging = false;

        panel.style.transition = ""; 
        if (handle.hasPointerCapture(e.pointerId)) {
            handle.releasePointerCapture(e.pointerId);
        }


        const distanceMoved = Math.abs(startY - e.clientY);

        if (distanceMoved < 5) {
            togglePanel();
            panel.style.height = "";
            return;
        }

        const currentHeight = panel.getBoundingClientRect().height;
        const threshold = window.innerHeight * 0.5;

        if (currentHeight > threshold) {
            isOpen = true;
            panel.classList.add("open");
        } else {
            isOpen = false;
            panel.classList.remove("open");
        }

        panel.style.height = "";




        // panel.classList.remove("dragging");
        // panel.releasePointerCapture(e.pointerId);

        // const currentBottom = parseFloat(panel.style.getPropertyValue("--bg-bottom")) || 0;
        // let closestItem = navItems[0];
        // let minDiff = Infinity;
        
        // navItems.forEach(item => {
        //     const diff = Math.abs(currentBottom - item.offsetBottom);
        //     if (diff < minDiff) {
        //         minDiff = diff;
        //         closestItem = item;
        //     }
        // });

        // navItems.forEach(i => i.classList.remove("active"));
        // closestItem.classList.add("active");
        // moveBackground(closestItem);

        // setTimeout(() => {
        // }, 800);
    });



    // togglePanel();

</script>

<style>
    .panelBox {
        z-index: 11111;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        position: absolute;
        bottom: 2.5em;
        left: 50%;
        transform: translate(-50%, 150%) scale(0.5);
        width: 95vw;
        height: 20vh;
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        border-radius: 18px;

        margin: 0;
        padding: 0;

        animation: slideInBottom 1s cubic-bezier(0.33, 0.72, 0, 1.18) 0.5s forwards;

        transition: height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 1.4s cubic-bezier(0.33, 0.72, 0, 1.18), bottom 1.2s cubic-bezier(0.33, 0.72, 0, 1.18), border-radius 2s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), backdrop-filter 1.2s cubic-bezier(0.33, 0.72, 0, 1.18);
    }

    .panelBox.open {
        border-radius: 20px 20px 0 0;
        bottom: 0;
        width: 100vw;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(8px);

    }

    span {
        margin: 0.1em 0em;
        width: 6em;
        height: 0.8em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
        position: fixed;

        cursor: grab;
        touch-action: none;

        &:active {
            cursor: grabbing;
        }
    }
    

    @keyframes slideInBottom {
        0% {
            transform: translate(-50%, 100%) scale(0.5);
            opacity: 0;
        }
        100% {
            transform: translate(-50%, 0) scale(1);
            opacity: 1;
        }
    }
</style>