---
// @ts-nocheck
---

<button id="live" data-target="live-result" data-url="/api/routes">Live</button>
<div id="live-result"></div>

<!-- <script>
    document.querySelector("#route")?.addEventListener("click", () => {
        fetch("/api/route")
            .then(response => response.json())
            .then(data => {
                document.querySelector("#route-result").innerHTML = JSON.stringify(data);
            });
    });
</script>

<style>

#route {
    padding: 2em;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.9);
}

</style> -->