---

---

<div class="liveTransitListContainer">
	<h3 class="liveTransitListTitle"></h3>
	<ul class="liveTransitList">
	</ul>
</div>

<script>
	// @ts-nocheck
	// Live transit times based on API data and user location

	document.addEventListener("liveLocationUpdate", (e) => {
		const transit = e.detail;
		const shortName = transit.shortName;
		const longName = transit.longName;

		const transitInfos = transit.transitInfo;
		const transitInfoTitle = transit.transitInfoTitle;

		const list = document.querySelector(".liveTransitList");

		const containerBox = document.querySelector(".liveTransitListContainer");

		if (containerBox) {
			containerBox.style.opacity = "1";
			containerBox.style.visibility = "visible";
		}

		// Empty the list before adding new items

		list.innerHTML = "";

		if (!transitInfos || transitInfos.length === 0) {
			list.innerHTML = `<li>No live transit times available for line ${shortName}</li>`;
			return;
		}

		transitInfos.forEach((transitInfo) => {
			const li = document.createElement("li");

			if (!transitInfo.routeColor || transitInfo.routeColor.includes("undefined") || transitInfo.routeColor.includes("null") || transitInfo.routeColor === "#") {
				transitInfo.routeColor = "rgba(0, 0, 0, 0.4)";
			}

			if (!transitInfo.routeTextColor || transitInfo.routeTextColor.includes("undefined") || transitInfo.routeTextColor.includes("null") || transitInfo.routeTextColor === "#") {
				transitInfo.routeTextColor = "rgba(255, 255, 255, 0.9)";
			}

			li.style.backgroundColor = transitInfo.routeColor;
			li.style.color = transitInfo.routeTextColor;

			console.log(transitInfo.routeColor, transitInfo.routeTextColor);

			if (transitInfo.distance && transitInfo.distance !== Infinity) {
				const distanceTo = Math.round(transitInfo.distance);
			}

			li.innerHTML = `
            Line: ${transitInfo.shortName}
            </br>${transitInfo.longName}`;

			// Click eventListener for the list items

			// CustomEvent is a way to send custom events data, when an action happend.
			// https://developer.mozilla.org/en-US/docs/Web/API/CustomEvent/CustomEvent
			li.addEventListener("click", () => {
				document.dispatchEvent(
					new CustomEvent("line-check", {
						detail: {
							lat: transitInfo.lat,
							lon: transitInfo.lon,
						},
					}),
				);
			});

			// list.appendChild gets the list item and puts it in the list
			list.appendChild(li);
		});
	});

	document.addEventListener("search-line", (e) => {
		const searchName = e.detail.searchName || e.detail.shortName;

		const title = document.querySelector(".liveTransitListTitle");

		if (searchName && title) {
            // innerHTML is used to change the content of the title dynamically.
			title.innerHTML = `Live transit times for Line: <b>${searchName}</b>`;
		}
	});
</script>

<style>
	.liveTransitListContainer {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		margin: 0em;
		visibility: hidden;
		opacity: 0;
		width: 100%;
		height: 100%;
		border-radius: 18px;

		transition: all 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);

		> h3 {
			width: fit-content;
			height: fit-content;
			color: white;
			font-size: 22px;

			transition: all 0.8s cubic-bezier(0.33, 0.72, 0, 1.18);
		}

		> ul {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;
			gap: 1em;
			list-style-type: none;
			padding: 0;
			margin: 0;
			background-color: transparent;

			min-width: 8em;
			max-width: 24em;
			overflow-x: scroll;
			overflow-y: visible;
			scroll-snap-type: mandatory;
			scrollbar-color: transparent transparent;

			> li {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 18px;
				height: fit-content;
				width: fit-content;
				padding: 1em;
				cursor: pointer;
				white-space: nowrap;
				backdrop-filter: blur(2px);
			}
		}
	}
</style>
