---
---

<!-- User location svg -->
<!-- https://www.svgrepo.com/svg/532533/location-arrow-alt -->

<div class="userLocationBtn">
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="var(--fill-color-svg)">
            <path d="M10.9792 4.26973L4.59197 18.4636C4.10239 19.5516 3.85761 20.0955 3.9608 20.4146C4.05015 20.6908 4.2714 20.9042 4.55064 20.9836C4.87315 21.0753 5.40801 20.8112 6.47772 20.283L11.2921 17.9055C11.552 17.7771 11.682 17.713 11.8181 17.6877C11.9387 17.6653 12.0624 17.6653 12.183 17.6877C12.3192 17.713 12.4491 17.7771 12.709 17.9055L17.5234 20.283C18.5931 20.8112 19.128 21.0753 19.4505 20.9836C19.7298 20.9042 19.951 20.6908 20.0403 20.4146C20.1435 20.0955 19.8988 19.5516 19.4092 18.4636L13.0219 4.26973C12.6979 3.54967 12.5359 3.18964 12.3108 3.07837C12.1153 2.98169 11.8859 2.98169 11.6903 3.07837C11.4653 3.18964 11.3032 3.54967 10.9792 4.26973Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </div>
</div>

<style>
    .userLocationBtn {

        --fill-color-svg: none;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 4em;
        height: 4em;
        border-radius: 50%;
        padding: 0.4em;
        opacity: 1;

        position: absolute;
        bottom: 14em;
        right: 1.3em;
        z-index: 1000;
        transform: translate(0, 0) rotate(36deg);

        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(8px);

        animation: LocationSlideIn 0.8s cubic-bezier(0.33, 0.72, 0, 1.18) 1s backwards;
        transition: transform 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), bottom 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), right 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), opacity 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), width 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), height 0.8s cubic-bezier(0.33, 0.72, 0, 1.18), background-color 1.4s cubic-bezier(0.33, 0.72, 0, 1.18);

        > div {
        > svg {
            transform: scale(1);
            animation: svgScaleIn 0.8s cubic-bezier(0.33, 0.72, 0, 1.18) 1.4s backwards;
        }
    }
    }

    .userLocationBtn.clicked {

        --fill-color-svg: rgba(0, 0, 0, 0.8);
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
        width: 4em;
        height: 4em

        background-color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);

        > div {
    }
    }

    @keyframes LocationSlideIn {
        0% {
            width: 6em;
            height: 4em;
            transform: translate(8em, 0) rotate(360deg);
            opacity: 0;
            border-radius: 25%;
        }
        50% {
            width: 4em;
            height: 4em;
            transform: translate(0, 0) rotate(36deg);
            opacity: 1;
        }
        100% {
            width: 4em;
            height: 4em;
            transform: translate(0, 0) rotate(36deg);
            opacity: 1;
            border-radius: 50%;
        }
    }

    @keyframes svgScaleIn {
        0% {
            transform: scale(0.6);
        }
        100% {
            transform: scale(1);
        }
     }
</style>